:host {
  background: rgba(0, 102, 255, 0.7);
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: content-box;
  padding: 8px;

  .nav-bar-search {
    flex-basis: 50%;
    display: flex;

    .search__input {
      flex: 1;
      padding: 0 24px;
      border: 0;
      border-radius: 5px 0 0 5px;
      color: #3a3a3a;

      &::placeholder {
        color: #a8a8b3;
      }
    }

    .search__button {
      flex-basis: 56px;
      background-color: #0066ff;
      border-radius: 0 5px 5px 0;
      color: white;
    }
  }

  .navbar__shop {
    border: none;
    color: white;
    background-color: transparent;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.2s;
    
    &:active {
      color: rgb(216, 216, 216);
    }

    mat-icon {
      height: 30px;
      width: 30px;
      font-size: 30px;
    }
  }
}
