:host {
  width: 100vw;
  display: flex;
  flex-direction: column;

  .container-cart {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 102, 255, 0.2);
    align-self: center;
    width: 50vw;
    min-height: calc(100vh - 72px);
    padding: 16px;

    > section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px;
      border: 1px solid gray;
      height: 300px;

      > img {
        height: 100%;
        width: auto;
      }
    }
  }
}
