<app-navbar></app-navbar>
<section class="content">
    <form [formGroup]="createBook" class="form">
        <h1>Cadastrar Livro</h1>
        <mat-form-field appearance="fill">
            <mat-label>Nome</mat-label>
            <input matInput/>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Preço</mat-label>
            <input matInput/>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>ISBN</mat-label>
            <input matInput/>
        </mat-form-field>

        <button mat-flat-button routerLink="/homepage">CADASTRAR</button>
    </form>
</section>